<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.careons.app"
    android:installLocation="auto" >

    <!-- A N D R O I D   V E R S I O N S -->
    <uses-sdk
        android:maxSdkVersion="23"
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <!-- P E R M I S S I O N S -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:maxSdkVersion="18"
        android:required="true" />

    <!-- A P P L I C A T I O N -->
    <application
        android:name=".Patient.Commons.AppManager"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        xmlns:tools="http://schemas.android.com/tools"
        tools:replace="android:theme"
        android:theme="@style/AppThemeDoctor" >


        <!-- S P L A S H   A C T I V I T Y -->
        <activity
            android:name=".Doctor.Activity.Splash.DoctorSplashActivity"
            android:label="@string/doctor_app_name"
            tools:replace="android:theme"
            android:theme="@style/AppThemeDoctor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- L O G I N   A C T I V I T Y -->
        <activity
            android:name=".Doctor.Activity.Signup.DoctorLoginActivity"
            android:label="@string/title_activity_doctor_login"
            android:screenOrientation="portrait"
            tools:replace="android:theme"
            android:theme="@style/AppThemeDoctor" />


        <!-- M A I N   A C T I V I T Y -->
        <activity
            android:name=".Doctor.Activity.Main.MainDoctorActivity"
            android:label="@string/title_activity_main_doctor"
            android:screenOrientation="portrait"
            tools:replace="android:theme"
            android:theme="@style/AppThemeDoctor" />



        <!-- C H A T   A C T I V I T Y -->
        <activity
            android:name=".Doctor.Activity.Chat.DoctorChatActivity"
            android:screenOrientation="portrait"
            tools:replace="android:theme"
            android:theme="@style/AppThemeDoctor" />

        <!-- U P L O A D   C H A T   I M A G E   A C T I V I T Y -->
        <activity
            android:name=".Patient.Activity.Chat.UploadChatConfirmActivity"
            android:screenOrientation="portrait"
            tools:replace="android:theme"
            android:theme="@style/AppThemeDoctor" />

        <!-- V I E W   C H A T   I M A G E   A C T I V I T Y -->
        <activity
            android:name=".Patient.Activity.Chat.ViewChatImageActivity"
            android:screenOrientation="portrait"
            tools:replace="android:theme"
            android:theme="@style/AppThemeDoctor" />

    </application>

</manifest>